@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.search-page {
  // padding
  @include site-side-padding;
  @include flex(normal, center, column);
  &__container {
    // flexbox
    width: 100%;
    @include flex(center, normal, column);
    // margin
    margin-top: 3rem;
    margin-bottom: 4rem;
    // text align
    text-align: center;
    max-width: 800px;
  }
  &__title {
    color: $primary-purple;
    font-size: 3rem;
  }
  &__description {
    color: $primary-grey;
    margin: 1.5rem 0;
  }
  &__instruction {
    color: $primary-grey;
    margin: 1.5rem 0;
    @include desktop {
      max-width: 23rem;
    }
  }

  &__divider {
    height: 1px;
    width: 100%;
    background-color: black;
  }
  &__subtitle {
    color: $primary-purple;
    margin: 1rem 0;
  }

  &__current-bundle-container {
    @include flex(normal, space-between, row);

    gap: 0.75rem;
    width: 100%;
  }
  &__ss-logo-wrapper {
    width: 100%;
  }
  &__ss-logo-img {
    height: 3.5rem;
    width: 3.5rem;
  }
}

.netflix {
  background-image: url(../../assets/images/netflix-logo.webp);
  @include background-image-properties(black);
}
.tlc {
  background-image: url(../../assets/images/tlc-logo.webp);
  @include background-image-properties(black);
}
.paramount {
  background-image: url(../../assets/images/paramount-logo.webp);
  @include background-image-properties(#221f23);
  background-size: cover;
}
.prime {
  background-image: url(../../assets/images/prime-video-logo.webp);
  @include background-image-properties(black);
}
.crave {
  background-image: url(../../assets/images/crave-logo.webp);
  @include background-image-properties(black);
}
.apple {
  background-image: url(../../assets/images/apple-tv-logo.webp);
  @include background-image-properties(black);
}
.snwd {
  background-image: url(../../assets/images/snwd-logo.webp);
  @include background-image-properties(black);
}
.hayu {
  background-image: url(../../assets/images/hayu-logo.webp);
  @include background-image-properties(black);
}
