/* -------------------------------------------------------------------------- */
/*                                 Media Query                                */
/* -------------------------------------------------------------------------- */
@mixin desktop {
  @media (min-width: 768px) {
    @content;
  }
}

/* -------------------------------------------------------------------------- */
/*                             Site Side Paddings                             */
/* -------------------------------------------------------------------------- */
@mixin site-side-padding {
  $m-side-padding: 1.5rem;
  padding-left: $m-side-padding;
  padding-right: $m-side-padding;
  @include desktop {
    $d-side-padding: 3rem;
    padding-left: $d-side-padding;
    padding-right: $d-side-padding;
  }
}

/* -------------------------------------------------------------------------- */
/*                          Background Image & Sizing                         */
/* -------------------------------------------------------------------------- */
@mixin background-image-properties($background-color) {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $background-color;
}

/* -------------------------------------------------------------------------- */
/*                                 Flex                                       */
/* -------------------------------------------------------------------------- */
@mixin flex($align: normal, $justify: normal, $direction: row) {
  align-items: $align;
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}

/* -------------------------------------------------------------------------- */
/*                                Divider                                     */
/* -------------------------------------------------------------------------- */
@mixin divider {
    border-bottom: 1px solid #676e73;
  }