@use '../../styles/partials/mixins' as *;

.header{
    @include site-side-padding;
    border-bottom: 1px solid #676E73;
    // vertical padding (mobile width)
    $m-vert-padding: 1rem;
    padding-top: $m-vert-padding;
    padding-bottom: $m-vert-padding;
    @include desktop {
        // vertical padding (desktop width)
        $d-vert-padding: 1.5rem;
        padding-top: $d-vert-padding;
        padding-bottom: $d-vert-padding;
    }
    &__logo-img{
        vertical-align: bottom;
    }
}