@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.search-result {
  width: 100%;
  @include flex(flex-start, normal, column);

  @include site-side-padding;
  &__search-bar-wrapper {
    margin: 4rem 0 0 0;
    width: 100%;
  }

  &__breadcrumb-group {
    @include flex(center, normal, row);
  }
  &__breadcrumb-icon {
    height: 2.25rem;
  }
  &__content {
    gap: 1rem;
    @include flex(normal, normal, column);
  }
  &__gallery {
    width: 100%;

    @include flex(normal, normal, column);
    gap: 1rem;
  }
  &__service-card {
    width: 100%;

    @include flex(normal, normal, column);
    gap: 1rem;
    border: 0.25px solid $primary-grey;
    box-shadow: rgba($primary-grey, 0.04) 0px 3px 5px;
    padding: 1rem;
    border-radius: 1rem;
  }
  &__service-logo {
    width: 100%;
  }
}
